{% extends 'd_base.html' %}
{% load static %}
{% block meta %}

    <meta name="description" content="eatroot-delivery-home" />
 
{% endblock %}
{% block title %}
eatroot-delivery-home
{% endblock %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Out for delivery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">compleated</a>
        </li>
      </ul>
    </div>
   
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
     
      
  </div>
{% endblock %}