<div class="p-5 bg-body-tertiary mb-4" style="background-color: rgb(147, 165, 183) !important;">
    <h1 class="">Dashboard</h1>
    <!-- Breadcrumb -->
    <nav class="d-flex">
      <h6 class="mb-0">
        <a href="{% url 'delivery_app:home' %}" class="text-reset">Home</a>
        <span>/</span>
        <a href="{% url 'delivery_app:earn' %}" class="text-reset">Earnings</a>
        <span>/</span>
        <a href="" class="text-reset"><u>My deliveries</u></a>
      </h6>
    </nav>
    <!-- Breadcrumb -->
  </div>