{% extends 'd_base.html' %}
{% load static %}
{% block meta %}

    <meta name="description" content="eatroot-delivery-home" />
 
{% endblock %}
{% block title %}
eatroot-delivery-home
{% endblock %}

{% block content %}


<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}
              <div class="row">

                <div class="col-lg-7">
                  <h5 class="mb-3"><a href="" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i></a></h5>
                  <hr>

                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                     
                    </div>
                  </div>
                

                  {% for food in foods %}
                      <div class="card mb-3">
                          <div class="card-body">
                              <div class="d-flex justify-content-between">
                                  <div class="d-flex flex-row align-items-center">
                                      <div>
                                          <img src="{{ food.food.img.url }}" class="img-fluid rounded-3" alt="Shopping item" style="width: 100px;">
                                      </div>
                                      <div class="ms-3">
                                          <h5>{{ food.food.name }}</h5>
                                          <p class="small mb-0">{{ food.food.dec }}</p>
                                      </div>
                                    
                                  </div>
                                  
                                  
                                  <div style="width: 80px;margin-top: 40px;">
                                    <h6 class="mb-0"><span >1X</span>{{food.quantity}}</h6>
                                </div>
                                  <div class="d-flex flex-row align-items-center">
                                      <div style="width: 80px;">
                                          <h6 class="mb-0" id="price{{ food.food.id }}">{{ food.food.price }}</h6>
                                      </div>
                                      <div style="margin-left: 10px;">
                                          <h6 class="mb-0"><span id="totalPrice{{ food.id }}">{{food.q_total}}</span></h6>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  {% endfor %}
                </div>
                
                <div class="col-lg-5">

                  <div class="card bg-primary text-white rounded-3">
                    <div class="card-body">
                      <h3>Hotel:</h3>
                      <hr>
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="mb-0">{{order.order.hotel.name}}</h5>
                      </div>
                   
                      <p ><span>mob: </span>{{order.order.hotel.contact}}</p>
                      <p><span>Address: </span>{{order.order.hotel.location}}</p>
                      <p><span>Description: </span>{{order.order.hotel.desc}}</p>

                      <hr class="my-4">
                      <h3>Customer:</h3>
                      <hr>
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="mb-0">{{order.customer}}</h5>
                      </div>
                   
                      <p class="small mb-2"><span>mob:</span>{{order.mobile}}</p>
                      <p><span>Address: </span>{{order.address}}</p>
                      <p><span>Notes: </span>{{order.notes}}</p>

                      <hr class="my-4">
                      <div class="d-flex justify-content-between">
                        <p class="mb-2" >Payment method</p>
                        <p class="mb-2" id="grandTotal">{{order.payment_type}}</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="mb-2" >Hotel payment</p>
                        <p class="mb-2" id="grandTotal"><span id="subtotalValue">{{earn}}</span>.00</p>
                      </div>

                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Shipping</p>
                        <p class="mb-2" id="deliveryCharge">20.00</p>
                      </div>

                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Total(Incl. taxes)</p>
                        <p class="mb-2" id="grandTotalWithFixed">Rs.<span id="totalWithTaxes">{{order.order.total_amount}}.00</span></p>
                      </div>
                    
                 
                      <button type="submit" class="btn btn-info btn-block btn-lg">
                        <div class="d-flex justify-content-between">
                          
                          <span>Pick Up Order <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                        </div>
                     
                    </button>
                    
                    </div>
                  </div>

                </div>
              
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="{% static 'js/hotel.js' %}"></script> 
{% endblock %}