<div class="p-5 bg-body-tertiary mb-4" style="background-color: rgb(147, 165, 183) !important;">
    <h1 class="">Dashboard</h1>
    <!-- Breadcrumb -->
    <nav class="d-flex">
      <h6 class="mb-0">
        <a href="{% url 'hotel_app:home' %}" class="text-reset">Home</a>
        <span>/</span>
        <a href="{% url 'hotel_app:earnings' %}" class="text-reset">Earnings</a>
        <span>/</span>
        <a href="{% url 'hotel_app:h_orders' %}" class="text-reset"><u>My orders</u></a>
        <span>/</span>
        <a href="{% url 'hotel_app:add_food' %}" class="text-reset">Add food</a>
      </h6>
    </nav>
    <!-- Breadcrumb -->
  </div>