{% extends 'h_base.html' %}
{% load static %}
{% block meta %}

    <meta name="description" content="eatroot-delivery-home" />
 
{% endblock %}
{% block title %}
eatroot-delivery-home
{% endblock %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
    <ul id="myTab" class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a id="tab-orders" class="nav-link active" aria-current="true" href="#" onclick="showTab('orders', 'tab-orders')">My Orders</a>
      </li>
      <li class="nav-item">
        <a id="tab-delivery" class="nav-link" href="#" onclick="showTab('delivery', 'tab-delivery')">Out for Delivery</a>
      </li>
      <li class="nav-item">
        <a id="tab-completed" class="nav-link" href="#" onclick="showTab('completed', 'tab-completed')">Completed</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div id="orders" style="display: block;">
      
      {% if orders %}
   
      
      {% for order in orders %}
      <a href="{% url 'hotel_app:order_view' order.id %}">
      <div class="row align-items-center">
      
      
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Customer</p>
            <p class="lead fw-normal mb-0">{{order.customer}}</p>
          </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Address</p>
            <p class="lead fw-normal mb-0"><i class="fas fa-circle me-2" style="color: #fdd8d2;"></i>
              {{order.address}}</p>
          </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Mobile</p>
            <p class="lead fw-normal mb-0">{{order.mobile}}</p>
          </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Notes</p>
            <p class="lead fw-normal mb-0">{{order.notes}}</p>
          </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Order_id</p>
            <p class="lead fw-normal mb-0">{{order.order.o_id}}</p>
          </div>
        </div>
      </div>
    </a>
{% endfor %}
{% else %}
<h5 class="card-title">Orders</h5>
      <p class="card-text">There is no orders found.</p>
      
      {% endif %}
    </div>




    <div id="delivery" style="display: none;">
      {% if order_placed %}
   
      
      
      {% for order in order_placed %}
      
      <div class="row align-items-center">
      
       
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Customer</p>
            <p class="lead fw-normal mb-0">{{order.customer}}</p>
          </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Address</p>
            <p class="lead fw-normal mb-0">
              {{order.address}}</p>
          </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Mobile</p>
            <p class="lead fw-normal mb-0">{{order.mobile}}</p>
          </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Notes</p>
            <p class="lead fw-normal mb-0">{{order.notes}}</p>
          </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Order_id</p>
            <p class="lead fw-normal mb-0">{{order.order.o_id}}</p>
          </div>
        </div>
        
      </div>
    
{% endfor %}
{% else %}
<h5 class="card-title">Orders placed</h5>
      <p class="card-text">There is no orders placed.</p>
      
      
{% endif %}
    </div>
    <div id="completed" style="display: none;">
      {% if compleated %}
   
      
      
      {% for order in compleated %}
      
      <div class="row align-items-center">
      
        <div class="col-md-2">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp"
            class="img-fluid" alt="Generic placeholder image">
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Customer</p>
            <p class="lead fw-normal mb-0">{{order.customer}}</p>
          </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Address</p>
            <p class="lead fw-normal mb-0">
             {{order.customer}}</p>
          </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Mobile</p>
            <p class="lead fw-normal mb-0">{{compleated.mobile}}</p>
          </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Notes</p>
            <p class="lead fw-normal mb-0">{{order.notes}}</p>
          </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Order_id</p>
            <p class="lead fw-normal mb-0">{{order.order.o_id}}</p>
          </div>
        </div>
      </div>
   
{% endfor %}
{% else %}
<h5 class="card-title">Completed</h5>
      <p class="card-text">There is no order compleated.</p>
      
      
{% endif %}
    </div>
  </div>
</div>

<script>
  function showTab(tabName, tabId) {
    // Hide all tab content divs
    document.getElementById('orders').style.display = 'none';
    document.getElementById('delivery').style.display = 'none';
    document.getElementById('completed').style.display = 'none';

    // Display the selected tab content div
    document.getElementById(tabName).style.display = 'block';

    // Remove 'active' class from all tabs
    document.getElementById('tab-orders').classList.remove('active');
    document.getElementById('tab-delivery').classList.remove('active');
    document.getElementById('tab-completed').classList.remove('active');

    // Add 'active' class to the clicked tab
    document.getElementById(tabId).classList.add('active');
  }
</script>


{% endblock %}