{% load static %}

<nav class="navbar navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">EatRoot.</a>
    <form class="d-flex input-group w-auto" action="{% url 'search_app:search' %}" method="get">
      {% csrf_token %}
      <input
        type="search"
        name="q"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <button type="submit" class="navbar-toggler">
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span></button>
    </form>
    <div class="d-flex align-items-center">
    <a class="text-reset me-3" href="{% url 'user_app:orders_view' %}">
      <i class="fas fa-shopping-cart"></i>
    </a>
    {% if user.role == "CUSTOMER" %}
    <div class="dropdown">
      <a
        data-mdb-dropdown-init
        class="dropdown-toggle d-flex align-items-center hidden-arrow"
        href="#"
        id="navbarDropdownMenuAvatar"
        role="button"
        aria-expanded="false"
      >
        <img
          src="https://img.freepik.com/free-photo/user-profile-icon-front-side-with-white-background_187299-40010.jpg?t=st=1721749209~exp=1721752809~hmac=190992e7180a3c62443362f1378423c112fa531a819c6d9da1cadb96aee4b234&w=740"
          class="rounded-circle"
          height="25"
          alt="Black and White Portrait of a Man"
          loading="lazy"
        />
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuAvatar"
      >
        <li>
          <a class="dropdown-item" href="{% url 'user_app:profile' %}">My profile</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'user_app:orders_view' %}">My orders</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'auth_app:signout' %}">Logout</a>
        </li>
      </ul>
    </div>
    {% else %}
    <div class="dropdown">
      <a
        data-mdb-dropdown-init
        class="dropdown-toggle d-flex align-items-center hidden-arrow"
        href="#"
        id="navbarDropdownMenuAvatar"
        role="button"
        aria-expanded="false"
      >
        <img
          src="https://img.freepik.com/free-vector/user-circles-set_78370-4704.jpg?t=st=1721749126~exp=1721752726~hmac=0295b51429df16e1ed9eb1413681f332185bf9c21293cf48210cac1530594bff&w=740"
          class="rounded-circle"
          height="25"
          alt="Black and White Portrait of a Man"
          loading="lazy"
        />
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuAvatar"
      >
        <li>
          <a class="dropdown-item" href="{% url 'auth_app:signin' %}">Log in</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'auth_app:signup' %}">Sign up</a>
        </li>
        
      </ul>
    </div>
    {% endif %}
    </div>
  </div>
  </div>
</nav>
